@font-face { font-family: 'Source Sans Pro', sans-serif; } 
$main-font: 'Source Sans Pro', sans-serif;
$helvatica: 'HelvaticaNeue', sans-serif;

$color-main: #ec1c24;
$color-second: #000000;
$color-bg: #f8f6f8;
$color-font: #ffffff;